USE [master]
GO
/****** Object:  Database [CCenterRIA2]    Script Date: 3/16/2026 2:18:38 PM ******/
CREATE DATABASE [CCenterRIA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCenterRIA2', FILENAME = N'/var/opt/mssql/data/CCenterRIA2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CCenterRIA2_log', FILENAME = N'/var/opt/mssql/data/CCenterRIA2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCenterRIA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCenterRIA2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/16/2026 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccloglogin]    Script Date: 3/16/2026 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccloglogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Extension] [int] NOT NULL,
	[TipoMov] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ccloglogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccRIACat_Areas]    Script Date: 3/16/2026 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccRIACat_Areas](
	[IDArea] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](max) NOT NULL,
	[StatusArea] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ccRIACat_Areas] PRIMARY KEY CLUSTERED 
(
	[IDArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccUsers]    Script Date: 3/16/2026 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccUsers](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[ApellidoPaterno] [nvarchar](max) NULL,
	[ApellidoMaterno] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[TipoUser_id] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[fCreate] [datetime2](7) NULL,
	[IDArea] [int] NOT NULL,
	[LastLoginAttempt] [datetime2](7) NULL,
 CONSTRAINT [PK_ccUsers] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
