USE [master]
GO
/****** Object:  Database [CCenterRIA]    Script Date: 3/16/2026 2:20:06 PM ******/
CREATE DATABASE [CCenterRIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCenterRIA', FILENAME = N'/var/opt/mssql/data/CCenterRIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CCenterRIA_log', FILENAME = N'/var/opt/mssql/data/CCenterRIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCenterRIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCenterRIA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/16/2026 2:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccloglogin]    Script Date: 3/16/2026 2:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccloglogin](
	[User_id] [int] NOT NULL,
	[Extension] [int] NOT NULL,
	[TipoMov] [int] NOT NULL,
	[Fechaa] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccRIACat_Areas]    Script Date: 3/16/2026 2:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccRIACat_Areas](
	[IDArea] [int] NOT NULL,
	[AreaName] [varchar](100) NOT NULL,
	[StatusArea] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccUsers]    Script Date: 3/16/2026 2:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccUsers](
	[User_id] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NULL,
	[Password] [nvarchar](256) NOT NULL,
	[TipoUser_Status] [int] NOT NULL,
	[fCreate] [datetime] NOT NULL,
	[IDArea] [int] NOT NULL,
	[LastLoginAttempt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccUsers2]    Script Date: 3/16/2026 2:20:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccUsers2](
	[User_id] [int] NOT NULL,
	[Login] [varchar](100) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[ApellidoPaterno] [varchar](100) NULL,
	[ApellidoMaterno] [varchar](100) NULL,
	[Password] [varchar](64) NOT NULL,
	[TipoUser_id] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[fCreate] [datetime] NOT NULL,
	[IDArea] [int] NOT NULL,
	[LastLoginAttempt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ccloglogin]  WITH CHECK ADD  CONSTRAINT [FK_ccloglogin_ccUsers] FOREIGN KEY([User_id])
REFERENCES [dbo].[ccUsers] ([User_id])
GO
ALTER TABLE [dbo].[ccloglogin] CHECK CONSTRAINT [FK_ccloglogin_ccUsers]
GO
ALTER TABLE [dbo].[ccUsers2]  WITH CHECK ADD  CONSTRAINT [FK_ccUsers2_ccRIACat_Areas] FOREIGN KEY([IDArea])
REFERENCES [dbo].[ccRIACat_Areas] ([IDArea])
GO
ALTER TABLE [dbo].[ccUsers2] CHECK CONSTRAINT [FK_ccUsers2_ccRIACat_Areas]
GO
ALTER TABLE [dbo].[ccloglogin]  WITH CHECK ADD CHECK  (([TipoMov]=(1) OR [TipoMov]=(0)))
GO
USE [master]
GO
